* {
    margin :0;
    padding :0;
}

body {
    font-family: 'Merriweather', serif;
    background-color:#f9fafc;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__brand { 
    width: 200px;
}

.navbar_logo {
    width:100%;
}

.nav_item {
    background-image: linear-gradient(
        to right , #ff0000,#f70f70,#ff0000
    );
    color:#f9fafc;
    border:none;
    padding:12px;
    border-radius: 6px;  
    font-weight: 500;
}

.nav_item:hover {
    border:2px solid palevioletred;
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}

@media (min-width: 1024px) {
    .navbar__brand {
        width:150px;
    }
}

